
/* Header styles */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
    overflow: auto; /* or auto */
}

@font-face {
    font-family: belleza;
    src: url(Belleza.ttf);
}

@font-face {
    font-family: ys;
    src: url(YoungSerif-Regular.ttf);
}

@font-face {
    font-family: ms;
    src: url(Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: ssc;
    src: url(SofiaSansCondensed-VariableFont_wght.ttf);
}

a {
    text-decoration:none
}
a:link {
    color: black;
  }
a:visited {
    color: black;
  }

  .article-img{
    max-width: 60%;
}

.header-container {
    background-color: #761818; /* Dark background color */
    color: #ffffff; /* White font color */
    text-align: center;
    line-height: 110px;
    height: 110px;
    display: flex;
    flex-direction: row;
}
.header-logo {
    margin-top: 10px;
    flex:1;
    overflow: hidden;
}
.header-name {
    flex:3;
    text-align: left;
    font-family: belleza;
}

.header-placeholder {
    flex:5;
}

.content-container {
    display: flex; /* Use flexbox for layout */
    min-height: 700px;
    flex-direction: row; 
}

.sidebar {
    flex: 1;
    background-color: #f4f4f4; 
    color: #333;
    padding: 20px;
    text-align: center;
    overflow: hidden;
}

.main {
    flex: 5; /* Take up 80% of the available space */
    background-color: #fff; /* White background color */
    color: #333; /* Dark gray font color */
    padding: 20px; /* Add padding for content within the main section */
    font-size: 1em;
    margin-left: 50px;  
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

.fl{
    font-size: 8em;
    font-family: ys;
}

.ctl{
    font-size: 35px;
    font-family: ms;
}

.nm{
    font-size: 20px;
    margin-top: 20px;
    font-family: ssc;
}

.lp{
    font-size: 15px;
    font-family: ssc;
}

.main-img{
    max-width: 1194px;
}
.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.table-anggota{
    border-collapse: separate;
    border-spacing: 20px;
}
.table-anggota-td{
    padding: 10px; /* Add padding to create space within cells */
    border: 0px;
    vertical-align: top;
}
.img-anggota{
    width: 200px;
}
.product-item {
    padding: 20px;
    border: 1px solid #fcbaba;
    box-shadow: #444;
    min-width: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
}
.product-title{
    font-size: 24px;
    font-weight: bold;
}
.product-image{
    max-width: 100%;
    overflow-x: hidden;
}
.capesumpah{
    background-color: #eac9c9;
    text-align: left;
    padding: 20px;
}
.read-more{
    background-color: #fcbaba;

}

.footer {
    background-color: #444; /* Darker background color */
    color: #fff; /* White font color */
    text-align: center;
    padding: 10px; /* Add padding for content within the footer */
}

.hamburger-menu {
    display: none;
}

@media (max-width: 768px) {
    /* Hide the sidebar on smaller screens */
    .sidebar{
        display: none;
    }
    .product-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .header-placeholder{
        display: none;
    }
    /* Styles for the hamburger menu (you can customize this) */
    /* Example styles for a simple hamburger icon */
    .hamburger-menu {
        display: block; /* Display the hamburger menu icon */
        text-align: right;
        padding: 10px;
        cursor: pointer;
    }
    .article-img{
        max-width: 100%;
    }
}

.cus2{
    font-size: 30px;
    margin-bottom: 5px;
}

.cus{
    flex-basis: 48%;
    margin-bottom: 30px;
}

.cus div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.cus input, .cus textarea{
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}
.cus1 [type=submit], .cus1 [type=reset]{
    width: 10%;
    background-color: #ecebeb; 
    font-size: 1em;    
}

.cus1 [type=submit]:active {
    background-color: grey;
}

.cus1 [type=reset]:active {
    background-color: grey;
}