
/* Header styles */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
    overflow: auto; /* or auto */
}

.header-container {
    background-color: #761818; /* Dark background color */
    color: #ffffff; /* White font color */
    text-align: center;
    line-height: 110px;
    height: 110px;
    display: flex;
    flex-direction: row;
}
.header-logo {
    margin-top: 10px;
    flex:1;
    overflow: hidden;
}
.header-name {
    flex:2;
    text-align: left;
}
.header-placeholder {
    flex:6;
}

.content-container {
    display: flex; /* Use flexbox for layout */
    min-height: 700px;
}

/* Sidebar styles */
.sidebar {
    flex: 1; /* Take up 20% of the available space */
    background-color: #f4f4f4; /* Light gray background color */
    color: #333; /* Dark gray font color */
    padding: 20px; /* Add padding for content within the sidebar */
}

/* Main content styles */
.main {
    flex: 4; /* Take up 80% of the available space */
    background-color: #fff; /* White background color */
    color: #333; /* Dark gray font color */
    padding: 20px; /* Add padding for content within the main section */
}

/* Footer styles */
.footer {
    background-color: #444; /* Darker background color */
    color: #fff; /* White font color */
    text-align: center;
    padding: 10px; /* Add padding for content within the footer */
}

.hamburger-menu {
    display: none;
}

@media (max-width: 768px) {
    /* Hide the sidebar on smaller screens */
    .sidebar{
        display: none;
    }
    .header-placeholder{
        display: none;
    }
    /* Styles for the hamburger menu (you can customize this) */
    /* Example styles for a simple hamburger icon */
    .hamburger-menu {
        display: block; /* Display the hamburger menu icon */
        text-align: right;
        padding: 10px;
        cursor: pointer;
    }
}